<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/php/bootstrap.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true"
         beStrictAboutOutputDuringTests="true"
         convertDeprecationsToExceptions="true">
    <php>
        <!-- Report deprecations whatever php.ini says, so they fail the run. -->
        <ini name="error_reporting" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="FetchIt">
            <directory>tests/php</directory>
        </testsuite>
    </testsuites>
</phpunit>
